{% load static %}
<div class="table-container">
    <h1>Products</h1>
    <form method="post">
        {% csrf_token %}
    <table>
        <tr>
            <th>ID No</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Details</th>
            <th>Action</th>
            
        </tr>
        <tr>
            <td>{{edit.id}}</td>
            <td><input type="text" value="{{edit.pnm}}" name="pn"></td>
            <td><input type="text" value="{{edit.prc}}" name="pp"></td>
            <td><input type="text" value="{{edit.des}}" name="pd" id="des"></td>
            <td><button class="edit-btn">UPDATE</button></td>
           
        </tr>
    </table>
    </form>
</div>
<style>
    .table-container {
    background: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.table-container h3 {
    margin-bottom: 10px;
    color: #333;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #bdc3c7;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background: #2980b9;
    color: white;
}
.edit-btn {
    display: inline-block;
    padding: 8px 12px;
    background-color: #0632f4; 
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition:  0.3s ease;
}

.edit-btn:hover {
    background-color: #0ff644; 
}
input{
    font-size: 15PX;
    width: 300px;
}
#des{
    width: 300px;
    height: 200px;
}
</style>